[Desktop Entry]
Version=1.0
Type=Application
Name=Zatura
Comment=A minimalistic document viewer
Exec=zatura %U
Icon=io.github.bortoq.zatura
Terminal=false
NoDisplay=true
Categories=Office;Viewer;
MimeType=image/vnd.djvu;image/vnd.djvu+multipage;
